html {
    font-family: 'Courier New', Courier, monospace;
    display: block;
    font-size: 30px;
    text-align: center;
}

h1 {
    font-size: 75px;
}

button {
    font-family: inherit;
    font-size: inherit;
    padding: 10px;
    background-color: orange;
    color: #fff;  
}

.container  {
    border: 2px solid black;
    background-color: #f6f6f2;
}

.quotes-container  {
    width: 80%;
    padding: 15px;
    margin: 2.5% 10%;  
}

#quoteDisplay {
    font-style: italic;
}