body{
 font-size: 20px;
 text-align: center;
}

input{
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 20px;
  color: #545454;
  border-radius: 12px;
  text-align: center;
}

button {
  padding: 10px;
  box-shadow: 2px 2px 4px #000000;
  border-radius: 12px;
  font-size: 20px;
}

div{
	text-align: center;
}